<!-- NAVBAR -->
<div class="navbar-fixed" id="header">
  <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container navbar-fixed">
        <a id="logo-container" href="#" class="brand-logo">Welcome <%= @user.first_name %> <%= @user.last_name %></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/logout">Logout</a></li>        
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>


        <ul id="nav-mobile" class="side-nav">
          <li><a href="/logout">Logout</a></li>
        </ul>

<!-- MAIN IMAGE/LOGO -->
  <body>
    <div class="highlighted parallax-container">
      <p class="logo" href="index-1.html">
        <img src="mainstage.png" alt="logo">
      </p>
      <div class="parallax"><img src="mixer.jpg" alt="Mixer table"></div>
    </div>
    


  <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container">

        <div class="row">

          <div class="col s12">
            <img class="responsive-img full-width-img" src="stage.jpg" alt="Work Desk">

            <h1 class="post-title">My first EDM Experience</h1>
            <span class="post-date">23 Fev. 2015</span>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales lobortis nunc. Duis aliquam lacus eu dui facilisis molestie. Donec in massa ac mi venenatis volutpat. Nunc vitae finibus velit, sit amet aliquam nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eleifend nisl, sed sodales sem. Donec eget justo lobortis, scelerisque nunc vel, elementum nisl. In iaculis sem dolor, sed blandit dolor placerat at. Donec condimentum est a posuere vulputate.</p>
           
            <p>Vivamus imperdiet erat et feugiat pulvinar. Phasellus vel purus egestas, molestie sem a, venenatis nulla. In cursus nisi elit, ac mollis justo malesuada non. Nulla felis justo, tempus vel dignissim eu, finibus id felis. Proin lectus sapien, tempus ut finibus ornare, congue ut risus. Proin lacinia vitae nibh ac mattis. Ut posuere neque et arcu gravida tristique. Cras fermentum, magna et pellentesque porta, velit tellus cursus felis, sit amet cursus elit arcu sit amet risus.</p>
            <blockquote>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae error, tempora. Repudiandae consequuntur nostrum eaque commodi obcaecati, voluptatem neque dolores dolore id. Rerum deserunt nisi sed, odit, provident quibusdam cum.
            </blockquote>
            <p>Aenean sed massa odio. Sed ac ligula ut velit elementum finibus. Fusce vitae justo ac diam ullamcorper ultrices a ut libero. Nulla sed vestibulum tortor. Sed aliquet lorem at magna fermentum efficitur. Donec condimentum nunc sed nisi imperdiet blandit. Duis metus ipsum, lacinia id dolor a, porttitor aliquet mauris. Donec sit amet accumsan augue</p>
            <h5>Final Thoughts</h5>
            <p>Iaculis rutrum ex. Phasellus pulvinar, sapien eu lacinia egestas, tellus odio suscipit quam, id dictum lectus diam a augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed a augue fringilla, pulvinar enim id, fringilla elit. Curabitur ex lectus, eleifend at rutrum non, tincidunt ut ante. Sed finibus facilisis ipsum non efficitur. Praesent varius mi mauris, ut rutrum eros euismod quis. Praesent malesuada commodo egestas. Fusce non volutpat elit, at rutrum nisl.</p>
          </div>

          <!-- COMMENTS -->
          <div class="col s12 comments">
            <h3>Comments</h3>
            <form id="theme-comment" action="/comments" method="post" role="form">
              <div class="row">
                <div class="input-field col s12">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <textarea id="comment-message" name="comment" class="materialize-textarea" required></textarea>
                  <label for="comment-message">Comment</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Submit</button>
                </div>
              </div>
            </form>

            <% @comments.each do |comment|%>
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row">
                <div class="col s3 m2 l1">
                  <img src="user1.jpg" alt="" class="circle responsive-img">
                </div>
                <div class="col s8 m10 l11">
                  <h6 class="comment-name"><b><%=comment.user.first_name%> <%=comment.user.last_name%></b></h6>
                  <span class="comment-date"><%=comment.created_at.strftime("%B %d, %Y") %></span>
                  <p><%= comment.comment %></p>
                </div>
              </div>
            </div>
            <% end %>

           <!--  <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row">
                <div class="col s3 m2 l1">
                  <img src="user2.jpg" alt="" class="circle responsive-img">
                </div>
                <div class="col s8 m10 l11">
                  <h6 class="comment-name"><b>Joana Doe</b></h6>
                  <span class="comment-date">24 Fev. 2015</span>
                  <p>What an amazing article. I just wished this article was written a few months ago. It would've been very helpful for me.</p>
                </div>
              </div>
            </div> -->
          </div>

        </div>

      </div>
    </div>

    <footer class="white z-depth-1 center">
      <div class="container">
        
        <div class="row">
          <div class="col s12">
            <p>Designed by <i class="tiny material-icons red-text">favorite_border</i> Jimmy Mixer && Luis Saladbar <i class="tiny material-icons red-text">favorite_border</i></p>
          </div>
        </div>

        <a class="back-to-top btn-floating btn-large waves-effect waves-light blue-grey darken-1" href="#header"><i class="material-icons">keyboard_arrow_up</i></a>

      </div>
    </footer>
  </body>
